@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');

html, body {
    margin: 0;
    height: 100%;
}

body {
    box-sizing: border-box;
    transition: all 300ms;
}

#todo{
    transition: all 500ms;
}

.ui {
    font-family: 'Exo', sans-serif;
    position: absolute;
    left: 10;
    bottom: 10;
    color: white;
}

#uinadando {
    font-family: 'Exo', sans-serif;
    position: absolute;
    left: 10;
    text-align: left;
    bottom:20%;
    color: white;
    font-size: 10px;
}

#uinadando {
    font-family: 'Exo', sans-serif;
    position: absolute;
    left: 10;
    text-align: left;
    bottom:21.1%;
    color: white;
    font-size: 10px;
}

#others {
    font-family: 'Exo', sans-serif;
    position: absolute;
    left: 10;
    text-align: left;
    bottom:18.3%;
    color: white;
    font-size: 10px;
}

#ox,#oxagua{
    font-family: 'Exo', sans-serif;
    position: absolute;
    left: 10;
    text-align: left;
    bottom:20.3%;
    color: white;
    font-size: 10px;  
}

.oxigeno{
    margin-right: 20px;
    font-family: 'Exo', sans-serif;
    margin-top: 5px;
    width: 40px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.856);
    color: white;
    font-size: 10px;
    border-radius: 5px;
    padding: 10px;
}

.oxigeno > #oxigeno-level{
    top: 10%;
    margin-right: 10px;
    width: 80px;
    height: 20px;
    background-color: transparent;
    font-size: 20px;
    border-radius: 5px;
}

.oxigenoagua{
    margin-right: 20px;
    font-family: 'Exo', sans-serif;
    margin-top: 5px;
    width: 40px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.856);
    color: white;
    font-size: 10px;
    border-radius: 5px;
    padding: 10px;
}

.oxigenoagua > #oxigenoagua-level{
    top: 10%;
    margin-right: 10px;
    width: 80px;
    height: 20px;
    background-color: transparent;
    font-size: 20px;
    border-radius: 5px;
}


.id{
    font-family: 'Exo', sans-serif;
    margin-top: 56px;
    width: 40px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.856);
    color: white;
    font-size: 10px;
    border-radius: 5px;
    padding: 10px;
}

.id > #id-level{
    top: 10%;
    margin-right: 10px;
    width: 80px;
    height: 20px;
    background-color: transparent;
    font-size: 20px;
    border-radius: 5px;
}

.uicoche {
    font-family: 'Exo', sans-serif;
    position: absolute;
    left: 17%;
    bottom: 2%;
    color: white;
}

.health, .armour,.food ,.thirst,.stress{
    margin-right: 20px;
    font-family: 'Exo', sans-serif;
    margin-top: 5px;
    width: 40px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.856);
    color: white;
    font-size: 10px;
    border-radius: 5px;
    padding: 10px;
}

.health > #health-level,.armour > #armour-level,.food > #food-level,.thirst > #thirst-level,.stress > #stress-level{
    bottom: 10%;
    margin-right: 10px;
    width: 80px;
    height: 20px;
    background-color: transparent;
    font-size: 20px;
    border-radius: 5px;
}

.health2, .armour2,.food2 ,.thirst2,.stress2{
    margin-right: 10px;
    font-family: 'Exo', sans-serif;
    margin-top: 5px;
    width: 40px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.856);
    color: white;
    font-size: 10px;
    border-radius: 5px;
    padding: 10px;
}

.health2 > #health-level2,.armour2 > #armour-level2,.food2 > #food-level2,.thirst2 > #thirst-level2,.stress2 > #stress-level2{
    bottom: 10%;
    margin-right: 10px;
    width: 80px;
    height: 20px;
    background-color: transparent;
    font-size: 20px;
    border-radius: 5px;
}

@media
 (max-width: 1600px){
    #others {
        bottom:20.7%;
    }
}
@media
 (max-width: 1366px){
    #others {
        bottom:24%;
    }
}
@media
 (max-width: 1519px ){
    #others {
        bottom:22.5%;
    }
}
@media
 (max-width: 1475px){
    #others {
        bottom:23.5%;
    }
}
@media
 (max-width: 1720px){
    #others {
        bottom:20%;
    }
}

@media
 (max-width: 1645px){
    #others {
        bottom:21%;
    }
}

@media
 (max-width: 1591px){
    #others {
        bottom:21.5%;
    }
}
@media
 (max-width: 1557px){
    #others {
        bottom:21.7%;
    }
}
@media
 (max-width: 1509px){
    #others {
        bottom:22.7%;
    }
}

@media
 (max-width: 1433px){
    #others {
        bottom:23.7%;
    }
}

@media
 (max-width: 1321px){
    #others {
        bottom:25.7%;
    }
}

@media
 (max-width: 1280px){
    #others {
        bottom:23.3%;
    }
}
@media
 (max-width: 1920px){
    #others {
        bottom:17.1%;
    }
}

@media
 (min-width: 2048px) and (max-width: 3840px) { 
    #others {
        bottom:8.7%;
    }
    #ox {
        
        bottom:10.5%;
    }
    #oxagua {
        bottom:10.5%;
    }
}

/* Barras */

#barras{
    display: none;
}

#barra1{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 10%;
    background-color: black;
}

#barra2{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 10%;
    background-color: black;
}

#todo{
    display: block;
}